<nav class="navbar navbar-expand-xl fixed-top navbar-dark bg-dark cyberfont">
    <a class="navbar-brand d-xl-none" href="" style="font-size: 102%;">NetWars</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
            aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarToggle">
        <ul class="navbar-nav">
            {% block menu %}
                {% for item in menu %}
                    <li class="nav-item">
                        <a class="nav-link" href="">{{ item.name }}</a>
                    </li>
                {% endfor %}
            {% endblock %}
        </ul>

        <a class="navbar-brand d-none d-xl-block" style="font-size: 130%; position: absolute; margin-left: 45%;" href="/">NetWars</a>

        <ul class="navbar-nav">
        </ul>
    </div>
</nav>

